.none-display {
    display: none;
}

.persona-relative {
    position: relative;
}

.persona-container {
    @include device(lg) {
        width: calc(#{$full} - 80px);
        max-width: 1680px;
        margin-left: auto;
        margin-right: auto;
    }
}

.theam-success {
    background-color: $theme-success;
}

.theam-avarage {
    background-color: $primary-color;
}

.theam-danger {
    background-color: $theme-danger;
}