$img-path: "../images/";

//*****************Theme Colors *****************/
  $primary-color:#0BAB3F;
  $primary-dark:#381167;
  $primary-color-2:#84BD00;
  $secondary-color-1:#EAE2F4;
  $secondary-color-2:#E35205;
  $secondary-color-3:#fd8e02;
  $nutral-color-1:#D0D0CE;
  $nutral-color-2:#888B8D;
  $nutral-color-3:#B1B3B3;
  $nutral-color-4:#000000;
  $nutral-color-5:#f2f2f2;
  $nutral-color-6:#e2e2e2;
  $theme-bright:#fff;
  $theme-dark:#000;
  $theme-color-1:#0082cb;
  $theme-color-2:#82c5e0;
  $theme-color-3:#455b7c;
  $theme-color-4:#c30e2e;
  $theme-color-5:#fd8204;
  $theme-color-6:#353535;
  $theme-color-7:#65646a;
  $theme-color-8:#888888;
  $theme-color-9:#b3b3b3;
  $theme-color-10:#d0d0ce;
  $theme-color-11:#eee;
  $theme-color-12:#FBFCFE;
  $theme-color-13:#111111;
  $bullets-color:#fc8e03;
  $transparent-bg:transparent;
//*****************Theme Colors Ends*****************/
//*****************Theme Units *****************/
  $null:0;
  $full:100%;
  $fullVh:100vh;
  $du:2px;
  $du-em:2em;
  $fdu:2rem;
  $f-px:2px;
  $a-f-em:.5em;
  $none:none;
  $dpadding:$du*2.5;
  $dmargin:$du*2.5;
//*****************Theme Units Ends *****************/