@import "../../scss/master.scss";

.nav {
  max-width: $du * 140;
  width: $full;
  background-color: $theme-bright;
  height: $full;
  position: fixed;

  h1 {
    @include font-size(18px);
    font-family: $primary-font;
    color: rgba($primary-dark, 1);
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    padding: $dpadding $dpadding * 2;
    margin-top: 20px;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    img {
      width: 100px;
    }
    span {
      line-height: 1;
    }
  }
  ul {
    // padding: $null $dpadding*2;
    margin: 0px;
    margin-top: 20px;
    li {
      a {
        padding: $dpadding * 3 $dpadding * 2;
        @include font-size(14px);
        font-family: $primary-font;
        color: rgba($primary-dark, 1);
        font-weight: bold;
        text-align: left;
        line-height: 1.7;
        display: block;
      }
      &.active {
        background-color: rgba($secondary-color-1, 1);
        a {
          border-left: solid 5px rgba($primary-dark, 1);
        }
      }
    }
  }

  .select-company {
    // position: absolute;
    // bottom: 0px;
    padding: 20px 10px;
    background-color: #009688;
    border-radius: 0px;
    color: #ffffff;
    width: 100%;
    text-transform: capitalize;
    &:hover {
      background-color: lighten($color: #009688, $amount: 10);
    }
  }
}

.pop-window {
  background-color: #f5f5f5 !important;
  border-radius: 0px !important;
  border: none !important;
  // padding: 0px;
  width: 100% !important;
  max-width: 540px;
  h1 {
    @include font-size(18px);
    font-family: $primary-font;
    color: rgba(#009688, 1);
    font-weight: normal;
    text-align: left;

    text-transform: uppercase;
    padding: $dpadding $dpadding * 2;
    margin-top: 20px;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    max-width: 150px;
    margin: 0px auto;
    img {
      width: 50px;
    }
    span {
      line-height: 1;
    }
  }
  p {
    text-align: center;
    padding: 20px 0px;
    @include font-size(21px);
        font-family: $primary-font;
        color: rgba(#000000, 1);
        // font-weight: bold;
        text-align: center;
        line-height: 1.7;
        text-transform: inherit;
  }
  .sc-card-container {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    .MuiPaper-root {
      @include flex(0 0 calc(50% - 16px));
      margin-bottom: 30px !important;
      @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    
      .MuiButton-root {
        width: 100%;
        padding: 40px 20px;
        @include font-size(18px);
        font-family: $primary-font;
        color: rgba(#009688, 1);
        // font-weight: bold;
        text-align: center;
        line-height: 1.7;
        text-transform: inherit;
        min-height: 140px;
      }
    }
  }
}
