input {
    border: thin solid  $nutral-color-1;
    padding:  $dpadding/2  $dpadding*2;
    @include border-radius( $dpadding*5 $null $null  $dpadding*5);
    // @include typo($primary-font-regular, 400, 15px, 37px, $white);
    &.search-input {
        background-color: $primary-dark;
        border: none;
        @include respond-above(lg) {
            min-width: $du*120;
        }
        @include respond-above(xxl) {
            min-width: $du*250;
        }
        +.search-btn {
            background-color: darken($primary-dark, 10%);
            @include border-radius( $null  $dpadding*5  $dpadding*5 $null);
            // @include typo($primary-font-regular, 400, 15px, 37px, $white);
            padding:  $dpadding/2  $dpadding;
            border: none;
            &:hover {
                background-color: darken($primary-dark, 5%);
            }
        }
    }
}

.clear-btn {
    // @include typo($primary-font-regular, 400, 15px, 15px, rgba($ nutral-color-4, .3));
    margin-left:  $dmargin/2;
    i {
        margin-right:  $dmargin;
    }
    &:hover {
        color: rgba($nutral-color-4, .7);
    }
}

.eivr-warning {
    margin-top:  $dmargin*2;
    // @include typo($primary-font-regular, 600, 15px, 15px, $ nutral-color-4);
}

.alert-danger {
    background-color: transparent;
    padding: $null;
    border: none;
    max-width: $full - 20;
    width: $full;
    display: block;
    margin: $null auto;
    margin-bottom:  $dmargin*2;
    // @include typo($primary-font-regular, 400, 12px, 15px, $theme-danger);
}

select {
    background-color: $primary-dark;
    // @include typo($primary-font-regular, 400, 13px, 18px, $white);
    padding:  $dpadding*1.45  $dpadding;
    @include align-self(flex-end);
    border: none;
    width: $du*65;
    option {
        padding:  $dpadding*1.35  $dpadding;
        display: block;
        line-height: 24px;
        ;
    }
}

.MuiOutlinedInput-root{
    background-color: white;
    input{
        padding: 5px !important;
    }
}

.primary-btn{
    background-color: $primary-color !important;
}
.secondary-btn{
    background-color: $primary-dark !important;
}