@import "../../scss/master.scss";

.manageusers {
  margin-left: $du * 140;
  @include flexbox();
  @include flex-direction(column);
  height: $full;
  header {
    background-color: $primary-dark;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    padding: $null $dpadding * 5;
    .back-button {
      border: #ffffff solid 1px;
      height: 40px;
    }
    h2 {
      @include font-size(26px);
      font-family: $primary-font;
      color: rgba($theme-bright, 1);
      font-weight: bold;
      text-align: left;
      padding: $dpadding * 5;
    }
  }
  .content-section {
    padding: $dpadding * 10;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(space-between);
    .section-column{
        // @include flex(0 0 calc(#{$full} - 430px));
        @include flex(0 0 $full);
        .action-content {
            margin-bottom: $dmargin*4;
          .MuiBox-root {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(flex-start);
            .MuiFormControl-root{
                margin: $null $dmargin*4 ;
                width: initial;
                min-width: 200px;
                &:first-child{
                    margin-left: $null;
                }
            }
            .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
                max-width: 240px;
                width: $full;
            }
            .search-box{
                width:calc(#{$full} - 500px);
                .search-input{
                    width:calc(#{$full} - 20px);
                }
            }
          }
          .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
            color: #000;
            background-color: #ffffff;
            padding-left: 5px;
            padding-right: 7px;
          }
        }
        .table-data{
            .MuiTableCell-root{
                .MuiButton-root{
                    border: none;
                    color: #000;
                    text-transform: capitalize;
                    
                }
                
            }
            .MuiTableHead-root{
                background-color: #F1EDED;
                .MuiTableCell-root{
                    font-weight: bold;
                }
            }
        }
    }
  }
}
